uvicorn
fastapi 
pydrive 
fpdf2
python-multipart
email-validator 
requests 
celery 
passlib[bcrypt]
tenacity 
pydantic
emails 
raven 
gunicorn 
jinja2 
aiofiles 
psycopg2-binary
alembic
sqlalchemy 
pytest 
unidecode 
python-jose[cryptography]
mypy
black
isort 
autoflake 
flake8 
pytest 
sqlalchemy-stubs 
pytest-cov